In [24]:
import numpy as np

n1 = 34
n2 = 16
    
p1 = 10. / n1
p2 = 4. / n2 
P = float(p1*n1 + p2*n2) / (n1 + n2)
    
Z = (p1 - p2) / np.sqrt(P * (1 - P) * (1. / n1 + 1. / n2))

In [54]:
def proportions_diff_z_stat_ind(sample1, sample2):
    n1 = len(sample1)
    n2 = len(sample2)
    
    p1 = float(sum(sample1)) / n1
    p2 = float(sum(sample2)) / n2 
    P = float(p1*n1 + p2*n2) / (n1 + n2)
    
    return (p1 - p2) / np.sqrt(P * (1 - P) * (1. / n1 + 1. / n2))

In [55]:
import scipy.stats

def proportions_diff_z_test(z_stat, alternative = 'two-sided'):
    if alternative not in ('two-sided', 'less', 'greater'):
        raise ValueError("alternative not recognized\n"
                         "should be 'two-sided', 'less' or 'greater'")
    
    if alternative == 'two-sided':
        return 2 * (1 - scipy.stats.norm.cdf(np.abs(z_stat)))
    
    if alternative == 'less':
        return scipy.stats.norm.cdf(z_stat)

    if alternative == 'greater':
        return 1 - scipy.stats.norm.cdf(z_stat)

In [26]:
round(proportions_diff_z_test(Z, 'greater'),4)

0.3729

# 4 выборки связные!!!

In [29]:
file = open('banknotes.txt', 'r')
A = file.readlines()
X1, X2, X3, X4, X5, X6 = [], [] , [], [], [] , [] 
y = []

for i in range(1, len(A)):
    X1.append(float(A[i].split()[0]))
    X2.append(float(A[i].split()[1]))
    X3.append(float(A[i].split()[2]))
    X4.append(float(A[i].split()[3]))
    X5.append(float(A[i].split()[4]))
    X6.append(float(A[i].split()[5]))
    y.append(int(A[i].split()[6]))
    
Fingerprint = []
for i in range(len(X1)):
    Temp = []
    Temp.append(X1[i])
    Temp.append(X2[i])
    Temp.append(X3[i])
    Temp.append(X4[i])
    Temp.append(X5[i])
    Temp.append(X6[i])
    Fingerprint.append(Temp)

In [31]:
import pandas as pd

Data = pd.DataFrame(np.array(Fingerprint))
y = pd.DataFrame(np.array(y))

In [32]:
Data.head()

       0      1      2     3     4      5
0  214.8  131.0  131.1   9.0   9.7  141.0
1  214.6  129.7  129.7   8.1   9.5  141.7
2  214.8  129.7  129.7   8.7   9.6  142.2
3  214.8  129.7  129.6   7.5  10.4  142.0
4  215.0  129.6  129.7  10.4   7.7  141.8

In [33]:
y.head()

   0
0  1
1  1
2  1
3  1
4  1

In [34]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(Data, y, test_size=0.25, random_state=1)

In [44]:
X_train[[0,1,2]]

         0      1      2
98   215.1  130.0  129.8
123  215.1  130.7  130.4
119  214.4  130.2  129.9
53   215.4  130.2  130.2
33   215.6  130.4  130.1
..     ...    ...    ...
133  214.6  130.2  130.4
137  214.9  130.7  130.3
72   215.0  129.6  130.2
140  214.8  130.2  130.3
37   215.3  129.9  129.4

[150 rows x 3 columns]

In [51]:
from sklearn.linear_model import LogisticRegression

reg1 = LogisticRegression()
reg1.fit(X_train[[0,1,2]], y_train)
pred1 = reg1.predict(X_test[[0,1,2]])

reg2 = LogisticRegression()
reg2.fit(X_train[[3,4,5]], y_train)
pred2 = reg2.predict(X_test[[3,4,5]])

C:\Users\Mi\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Mi\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Mi\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Mi\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [61]:
np.array(y_test)[0][0]

1

In [62]:
ans1 = []
ans2 = []
for i in range(50):
    if pred1[i] == np.array(y_test)[i][0]:
        ans1.append(1)
    else:
        ans1.append(0)
        
    if pred2[i] == np.array(y_test)[i][0]:
        ans2.append(1)
    else:
        ans2.append(0)

In [63]:
ans1

[1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1]

In [64]:
proportions_diff_z_test(proportions_diff_z_stat_ind(ans1, ans2))

0.004022237272055307

In [88]:
def proportions_diff_z_stat_rel(sample1, sample2):
    sample = list(zip(sample1, sample2))
    n = len(sample1)+len(sample2)
    
    f = sum([1 if (x[0] == 1 and x[1] == 0) else 0 for x in sample])
    g = sum([1 if (x[0] == 0 and x[1] == 1) else 0 for x in sample])
    
    return float(f - g) / np.sqrt(f + g - float((f - g)**2) / n )

In [89]:
proportions_diff_z_test(proportions_diff_z_stat_rel(ans1, ans2))

0.004811476370093937

In [75]:
def proportions_diff_confint_ind(sample1, sample2, alpha = 0.05):    
    z = scipy.stats.norm.ppf(1 - alpha / 2.)
    
    p1 = float(sum(sample1)) / len(sample1)
    p2 = float(sum(sample2)) / len(sample2)
    
    left_boundary = (p1 - p2) - z * np.sqrt(p1 * (1 - p1)/ len(sample1) + p2 * (1 - p2)/ len(sample2))
    right_boundary = (p1 - p2) + z * np.sqrt(p1 * (1 - p1)/ len(sample1) + p2 * (1 - p2)/ len(sample2))
    
    return (left_boundary, right_boundary)

In [76]:
proportions_diff_confint_ind(ans1, ans2)

(-0.29746710213473937, -0.06253289786526053)

In [78]:
round(-0.06253289786526053,4)

-0.0625

In [90]:
def proportions_diff_confint_rel(sample1, sample2, alpha = 0.05):
    z = scipy.stats.norm.ppf(1 - alpha / 2.)
    sample = list(zip(sample1, sample2))
    n = len(sample)
        
    f = sum([1 if (x[0] == 1 and x[1] == 0) else 0 for x in sample])
    g = sum([1 if (x[0] == 0 and x[1] == 1) else 0 for x in sample])
    
    left_boundary = float(f - g) / n  - z * np.sqrt(float((f + g)) / n**2 - float((f - g)**2) / n**3)
    right_boundary = float(f - g) / n  + z * np.sqrt(float((f + g)) / n**2 - float((f - g)**2) / n**3)
    return (left_boundary, right_boundary)

In [91]:
proportions_diff_confint_rel(ans1, ans2)

(-0.3000547937203857, -0.059945206279614305)

# 6

In [130]:
import scipy.stats as stats

In [144]:
Z = (541.4-525.)*(100**0.5) / 100
Z

1.6399999999999977

In [145]:
stats.norm.cdf(Z)

0.949497416525896

In [146]:
round(1.-stats.norm.cdf(Z),4)

0.0505

In [148]:
Z = (541.5-525.)*(100**0.5) / 100

In [149]:
round(1.-stats.norm.cdf(Z),4)

0.0495