In [1]:
import pandas as pd 

data = pd.read_csv('water.txt', sep='\t')
data.shape

(61, 4)

In [3]:
data.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [6]:
data.corr()

           mortality  hardness
mortality   1.000000 -0.654849
hardness   -0.654849  1.000000

In [7]:
round(-0.654849, 4)

-0.6548

In [8]:
data.corr(method = 'spearman')

           mortality  hardness
mortality   1.000000 -0.631665
hardness   -0.631665  1.000000

In [9]:
round(-0.631665, 4)

-0.6317

In [10]:
mor_north = data[data['location']  == 'North'].mortality
mor_south = data[data['location']  == 'South'].mortality

In [11]:
har_north = data[data['location']  == 'North'].hardness
har_south = data[data['location']  == 'South'].hardness

In [16]:
round(mor_north.corr(har_north),4)

-0.3686

In [17]:
round(mor_south.corr(har_south), 4)

-0.6022

In [18]:
import math

M = (203*515-718*239)/math.sqrt((203+239)*(239+515)*(718+515)*(203+718))
round(M,3)

-0.109

In [19]:
from scipy.stats import chi2_contingency

table = [[203, 239], [718, 515]]
chi2_contingency(table)

(19.40753078854304,
 1.0558987006638725e-05,
 1,
 array([[243.03402985, 198.96597015],
        [677.96597015, 555.03402985]]))

In [42]:
from statsmodels.stats.proportion import proportion_confint
import scipy
import numpy as np

z = scipy.stats.norm.ppf(1 - 0.05 / 2.)

n1 = 203+239
n2 = n1
    
p1 = 239/n1
p2 = 203/n2

left_boundary = (p1 - p2) - z * np.sqrt(p1 * (1 - p1)/n1 + p2 * (1 - p2)/n2)
right_boundary = (p1 - p2) + z * np.sqrt(p1 * (1 - p1)/n1 + p2 * (1 - p2)/n2)
    
print(left_boundary, right_boundary)

0.01574625663120144 0.1471496709706085

In [43]:
round(0.015746256631201445,4)

0.0157

In [27]:
def proportions_diff_z_stat_ind():
    n1 = (203+718)
    n2 = (239+515)
    
    p1 = 203/n1
    p2 = 239 / n2 
    P = float(p1*n1 + p2*n2) / (n1 + n2)
    
    return (p1 - p2) / np.sqrt(P * (1 - P) * (1. / n1 + 1. / n2))

def proportions_diff_z_test(z_stat, alternative = 'two-sided'):
    if alternative not in ('two-sided', 'less', 'greater'):
        raise ValueError("alternative not recognized\n"
                         "should be 'two-sided', 'less' or 'greater'")
    
    if alternative == 'two-sided':
        return 2 * (1 - scipy.stats.norm.cdf(np.abs(z_stat)))
    
    if alternative == 'less':
        return scipy.stats.norm.cdf(z_stat)

    if alternative == 'greater':
        return 1 - scipy.stats.norm.cdf(z_stat)
    
proportions_diff_z_test(proportions_diff_z_stat_ind())

8.153453089576601e-06

In [28]:
from scipy.stats import chi2_contingency

table2 = [[197, 111, 33], [382, 685, 331], [110, 342, 333]]
chi2_contingency(table2)

(293.68311039689746,
 2.4964299580093467e-62,
 4,
 array([[ 93.08597464, 153.74722662,  94.16679873],
        [381.6251981 , 630.318542  , 386.0562599 ],
        [214.28882726, 353.93423138, 216.77694136]]))

In [29]:
round(293.68311039689746, 4)

293.6831

In [30]:
np.sum(np.array(table2))

2524

In [32]:
math.sqrt(293.6831/(2524*2))

0.24120138918055747

In [33]:
round(0.24120138918055747,4)

0.2412