In [1]:
import pandas as pd

data = pd.read_csv('botswana.tsv', sep = '\t')

In [2]:
data.head()

,ceb,age,educ,religion,idlnchld,knowmeth,usemeth,evermarr,agefm,heduc,urban,electric,radio,tv,bicycle
0,0,18,10,catholic,4.0,1.0,1.0,0,NaN,NaN,1,1.0,1.0,1.0,1.0
1,2,43,11,protestant,2.0,1.0,1.0,1,20.0,14.0,1,1.0,1.0,1.0,1.0
2,0,49,4,spirit,4.0,1.0,0.0,1,22.0,1.0,1,1.0,1.0,0.0,0.0
3,0,24,12,other,2.0,1.0,0.0,0,NaN,NaN,1,1.0,1.0,1.0,1.0
4,3,32,13,other,3.0,1.0,1.0,1,24.0,12.0,1,1.0,1.0,1.0,1.0

# 1

In [3]:
data.religion.value_counts()

spirit        1841
other         1080
protestant     993
catholic       447
Name: religion, dtype: int64

# 2

In [4]:
List = data.columns
a = 0
for j in range(4361):
    b = 0
    for i in List:
        #print(str(data[i][j]))
        if (str(data[i][j])) == 'nan':
            b +=1
    if b != 0:
        a += 1

In [5]:
4361 - a

1834

# 3

In [6]:
Nevermarr = []
for j in range(4361):
    if str(data.agefm[j]) == 'nan':
        Nevermarr.append(1)
    else:
        Nevermarr.append(0)

In [7]:
import numpy as np

data['nevermar'] = np.array(Nevermarr)

In [8]:
new_data = data.drop('evermarr', axis = 1)

In [9]:
for j in range(4361):
    if str(new_data.agefm[j]) == 'nan':
        new_data.agefm[j] = 0

C:\Users\Mi\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [10]:
new_data.head()

,ceb,age,educ,religion,idlnchld,knowmeth,usemeth,agefm,heduc,urban,electric,radio,tv,bicycle,nevermar
0,0,18,10,catholic,4.0,1.0,1.0,0.0,NaN,1,1.0,1.0,1.0,1.0,1
1,2,43,11,protestant,2.0,1.0,1.0,20.0,14.0,1,1.0,1.0,1.0,1.0,0
2,0,49,4,spirit,4.0,1.0,0.0,22.0,1.0,1,1.0,1.0,0.0,0.0,0
3,0,24,12,other,2.0,1.0,0.0,0.0,NaN,1,1.0,1.0,1.0,1.0,1
4,3,32,13,other,3.0,1.0,1.0,24.0,12.0,1,1.0,1.0,1.0,1.0,0

In [11]:
for j in range(4361):
    if str(new_data.nevermar[j]) == '1':
        new_data.heduc[j] = -1

C:\Users\Mi\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [12]:
new_data

,ceb,age,educ,religion,idlnchld,knowmeth,usemeth,agefm,heduc,urban,electric,radio,tv,bicycle,nevermar
0,0,18,10,catholic,4.0,1.0,1.0,0.0,-1.0,1,1.0,1.0,1.0,1.0,1
1,2,43,11,protestant,2.0,1.0,1.0,20.0,14.0,1,1.0,1.0,1.0,1.0,0
2,0,49,4,spirit,4.0,1.0,0.0,22.0,1.0,1,1.0,1.0,0.0,0.0,0
3,0,24,12,other,2.0,1.0,0.0,0.0,-1.0,1,1.0,1.0,1.0,1.0,1
4,3,32,13,other,3.0,1.0,1.0,24.0,12.0,1,1.0,1.0,1.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4356,0,16,7,protestant,2.0,1.0,0.0,0.0,-1.0,0,0.0,1.0,0.0,0.0,1
4357,2,28,7,protestant,4.0,1.0,1.0,0.0,-1.0,0,0.0,1.0,0.0,0.0,1
4358,4,24,5,protestant,4.0,1.0,1.0,0.0,-1.0,0,0.0,1.0,0.0,0.0,1
4359,1,26,0,spirit,5.0,1.0,0.0,22.0,7.0,0,0.0,1.0,0.0,0.0,0
4360,6,36,3,protestant,8.0,1.0,1.0,21.0,0.0,0,0.0,1.0,0.0,0.0,0

In [13]:
new_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4361 entries, 0 to 4360
Data columns (total 15 columns):
ceb         4361 non-null int64
age         4361 non-null int64
educ        4361 non-null int64
religion    4361 non-null object
idlnchld    4241 non-null float64
knowmeth    4354 non-null float64
usemeth     4290 non-null float64
agefm       4361 non-null float64
heduc       4238 non-null float64
urban       4361 non-null int64
electric    4358 non-null float64
radio       4359 non-null float64
tv          4359 non-null float64
bicycle     4358 non-null float64
nevermar    4361 non-null int32
dtypes: float64(9), int32(1), int64(4), object(1)
memory usage: 494.1+ KB

In [14]:
4361 - 4238

123

In [15]:
data4 = new_data.copy()

# 4

In [16]:
Idlnchld = []
Heduc = []
Usermeth = []

for j in range(4361):
    if str(data4.idlnchld[j]) == 'nan':
        Idlnchld.append(1)
        data4.idlnchld[j] = -1
    else: 
        Idlnchld.append(0)
        
    if str(data4.heduc[j]) == 'nan':
        Heduc.append(1)
        data4.heduc[j] = -2
    else: 
        Heduc.append(0)
        
    if str(data4.usemeth[j]) == 'nan':
        Usermeth.append(1)
        data4.usemeth[j] = -1
    else:
        Usermeth.append(0)

C:\Users\Mi\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Mi\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Mi\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [17]:
data4['idlnchld_noans'] = np.array(Idlnchld)
data4['heduc_noans'] = np.array(Heduc)
data4['usemeth_noans'] = np.array(Usermeth)

In [18]:
data4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4361 entries, 0 to 4360
Data columns (total 18 columns):
ceb               4361 non-null int64
age               4361 non-null int64
educ              4361 non-null int64
religion          4361 non-null object
idlnchld          4361 non-null float64
knowmeth          4354 non-null float64
usemeth           4361 non-null float64
agefm             4361 non-null float64
heduc             4361 non-null float64
urban             4361 non-null int64
electric          4358 non-null float64
radio             4359 non-null float64
tv                4359 non-null float64
bicycle           4358 non-null float64
nevermar          4361 non-null int32
idlnchld_noans    4361 non-null int32
heduc_noans       4361 non-null int32
usemeth_noans     4361 non-null int32
dtypes: float64(9), int32(4), int64(4), object(1)
memory usage: 545.2+ KB

In [19]:
new_data4 = data4.dropna()

In [20]:
new_data4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4348 entries, 0 to 4360
Data columns (total 18 columns):
ceb               4348 non-null int64
age               4348 non-null int64
educ              4348 non-null int64
religion          4348 non-null object
idlnchld          4348 non-null float64
knowmeth          4348 non-null float64
usemeth           4348 non-null float64
agefm             4348 non-null float64
heduc             4348 non-null float64
urban             4348 non-null int64
electric          4348 non-null float64
radio             4348 non-null float64
tv                4348 non-null float64
bicycle           4348 non-null float64
nevermar          4348 non-null int32
idlnchld_noans    4348 non-null int32
heduc_noans       4348 non-null int32
usemeth_noans     4348 non-null int32
dtypes: float64(9), int32(4), int64(4), object(1)
memory usage: 577.5+ KB

In [21]:
4348*18

78264

In [22]:
data5 = new_data4.copy()

In [23]:
data5.columns

Index(['ceb', 'age', 'educ', 'religion', 'idlnchld', 'knowmeth', 'usemeth',
       'agefm', 'heduc', 'urban', 'electric', 'radio', 'tv', 'bicycle',
       'nevermar', 'idlnchld_noans', 'heduc_noans', 'usemeth_noans'],
      dtype='object')

# 5

In [24]:
import statsmodels.formula.api as smf

In [25]:
m1 = smf.ols('ceb ~ age + educ + religion + idlnchld + knowmeth + usemeth + '\
       'agefm + heduc + urban + electric + radio + tv + bicycle + '\
       'nevermar + idlnchld_noans + heduc_noans +  usemeth_noans', 
             data=data5)
fitted = m1.fit()
print(fitted.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                    ceb   R-squared:                       0.644
Model:                            OLS   Adj. R-squared:                  0.643
Method:                 Least Squares   F-statistic:                     412.5
Date:                Tue, 11 Feb 2020   Prob (F-statistic):               0.00
Time:                        11:31:34   Log-Likelihood:                -7732.1
No. Observations:                4348   AIC:                         1.550e+04
Df Residuals:                    4328   BIC:                         1.563e+04
Df Model:                          19
Covariance Type:            nonrobust
==========================================================================================
                             coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------
Intercept                 -1.0263      0.212     -4.835      0.000      -1.443      -0.610
religion[T.other]         -0.0830      0.083     -1.001      0.317      -0.245       0.080
religion[T.protestant]    -0.0149      0.082     -0.181      0.857      -0.176       0.146
religion[T.spirit]        -0.0191      0.077     -0.248      0.804      -0.171       0.132
age                        0.1703      0.003     51.891      0.000       0.164       0.177
educ                      -0.0724      0.007     -9.843      0.000      -0.087      -0.058
idlnchld                   0.0760      0.011      6.923      0.000       0.054       0.098
knowmeth                   0.5564      0.121      4.580      0.000       0.318       0.795
usemeth                    0.6473      0.048     13.424      0.000       0.553       0.742
agefm                     -0.0604      0.007     -9.213      0.000      -0.073      -0.048
heduc                     -0.0551      0.008     -6.838      0.000      -0.071      -0.039
urban                     -0.2137      0.047     -4.527      0.000      -0.306      -0.121
electric                  -0.2685      0.077     -3.479      0.001      -0.420      -0.117
radio                     -0.0235      0.051     -0.461      0.645      -0.123       0.076
tv                        -0.1451      0.093     -1.566      0.118      -0.327       0.037
bicycle                    0.2139      0.050      4.260      0.000       0.115       0.312
nevermar                  -2.2393      0.148    -15.143      0.000      -2.529      -1.949
idlnchld_noans             0.6539      0.153      4.286      0.000       0.355       0.953
heduc_noans               -0.8724      0.145     -6.026      0.000      -1.156      -0.589
usemeth_noans              0.7652      0.196      3.910      0.000       0.382       1.149
==============================================================================
Omnibus:                      224.411   Durbin-Watson:                   1.887
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              859.014
Skew:                           0.003   Prob(JB):                    2.93e-187
Kurtosis:                       5.178   Cond. No.                         361.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [26]:
data7 = data5.copy()

# 7

In [32]:
import statsmodels.stats.diagnostic as sms

In [34]:
sms.het_breuschpagan(fitted.resid, fitted.model.exog)[1]

1.1452927633437192e-225